/* base */

* {
    box-sizing: border-box;
}

.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider-content {
    max-width: 750px;
    position: relative;
    margin: auto;
}

.current_image {
    height: 400px;
    width: 100%;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 30px;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    transition: 0.5s ease;
    border-radius: 0 15px 15px 0;
    color: #fff;
    background-color: #bdbab563;
}

.next {
    right: 0;
    border-radius: 15px 0 0 15px;
}

.prev:hover,
.next:hover {
    background-color: rgba(62, 59, 59, 0.8);
}

.btn-auto {
    margin: 10px 0;
    border: yellowgreen solid;
    padding: 10px 30px;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    background-color: rgba(255, 50, 50, 0.637);
}

.btn-auto:hover {
    background-color: rgb(231, 255, 13);
}

.dots {
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #579136;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.active,
.dot:hover {
    background-color: #f1f50c;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}